<div class="card">
  <div class="card-title">
    <h5>
      <% request.helpType %>
    </h5>
  </div>
  <div class="card-body">
    <h5>
      <% request.helpType %>
    </h5>
    <p class="card-text">
      <% request.description %>
    </p>
    <button type="button" class="btn btn-primary">Accept</button>
  </div>
</div>
